.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  /* background-image: url("https://kmoodycgma.files.wordpress.com/2011/01/spiderman-texture.jpg"); */
  background-size: cover;

  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.61) 0%,
      rgba(0, 0, 0, 0.712) 100%
    ),
    url("https://kmoodycgma.files.wordpress.com/2011/01/spiderman-texture.jpg");
}

.register-container,
.login-container {
  min-height: 90vh;
}
#login-form-container,
#register-form-container {
  width: 50%;
  background-color: whitesmoke;
}

#questionImage {
  height: 100%;
  width: 100%;
}

#leaderboardTable {
  background-color: whitesmoke;
}

@media (max-width: 576px) {
  #login-form-container,
  #register-form-container {
    width: 100%;
  }
  #questionImage {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  #login-form-container,
  #register-form-container {
    width: 100%;
  }
  #questionImage {
    width: 100%;
    height: auto;
  }
}
